get-location
{
  padding: 0;
  display: block;
}
get-location  > div
{ 
  background: white;
  padding: 20px ;
  border-radius: 20px;
  width: 60vw;
  
  position: fixed;
  left: 20vw !important; 
  text-align: center;
  top: 40px !important;

  font-size: 100% !important;
}

get-location  .alert
{   
  text-align: left;
  font-size: 20px;
}
 