body {
  font-size: 100% !important;
}
.weather-app
{ 
    font-family: Calibri;  
}

.weather-app .app > * > div
{
	
  position: absolute; 
  left: calc(100vw - 50% - 100px);
  z-index: 14; 
}

.weather-app.launched  
{ 
    position: fixed; 
    left: 0;
    width: 100vw;
    height: 100vh;   
}

button:focus
{
    outline: 0 !important;
}
.main-button
{
    position: fixed;
    bottom: 50px;
    right: 100px;

    /** put a shadow **/
    box-shadow: 0 5px 10px black;
 
    padding: 20px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
 
}
.main-button:hover 
{ 
}

.weather-app.launched .main-button
{
    z-index: 11;

}

.weather-app.launched > .app-wrapper
{ 
    position: fixed; 
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 10;  
    opacity: 0.5;
}


.weather-app .app 
{ 
}